*
!package.json
!tsconfig.json
!yarn.lock
!api/function-api
#api/function-api/node_modules
!api/int/pubsub
#api/int/pubsub/node_modules
!lib/shared
!lib/data
!lib/aws
!lib/node
!lib/server
!sdk
!tool
!mono
**/node_modules
