*
!package.json
!tsconfig.json
!yarn.lock
!api/function-api
#api/function-api/node_modules
!lib/shared
!lib/data
!lib/aws
!lib/node
!lib/server
!lib/constants
!lib/runtime/common
!lib/runtime/ops-lambda-set
!sdk
!tool
**/node_modules
