<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/img/logo-0.svg">
    <!--<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Nextend</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- Bootstrap core CSS     -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/nucleo-icons.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
        <div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" href="/">Nextend</a>
	            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar"></span>
					<span class="navbar-toggler-bar"></span>
					<span class="navbar-toggler-bar"></span>
	            </button>
			</div>
	        <div class="collapse navbar-collapse" id="navbarToggler">
	            <ul class="navbar-nav ml-auto">
					<li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/nextendio" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="d-lg-none">Twitter</p>
                        </a>
                    </li>
	            </ul>
	        </div>
		</div>
    </nav>

		<div class="page-header" data-parallax="true" style="background-image: url('/img/sunset.jpg');">
			<div class="filter"></div>
			<div class="container">
			    <div class="motto text-center">
                    <h1>Integrate Jira with</h1>
                    <div class="carousel slide" data-ride="carousel" data-interval="1500" data-pause="false" data-keyboard="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h1>Slack</h1>
                            </div>
                            <div class="carousel-item">
                                <h1>Github</h1>
                            </div>
                            <div class="carousel-item">
                                <h1>Bitbucket</h1>
                            </div>
                            <div class="carousel-item">
                                <h1>Pagerduty</h1>
                            </div>        
                            <div class="carousel-item">
                                <h1 class="text-danger">Anything</h1>
                            </div>
                        </div>
                    </div>
                    <h3>Start from a template, customize with Node.js.</h3>
                    <p>Coming soon to Atlassian Marketplace</p>
                    <br />
                    
                    <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <form class="contact-form">
                                        <div class="row">
                                            <div class="col-md-6 ml-auto mr-auto">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="nc-icon nc-email-85"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 ml-auto mr-auto">
                                                <button type="submit" class="btn btn-outline-neutral btn-round">Be the first to know</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
			        
			    </div>
			</div>
    	</div>
</body>

<!-- Core JS Files -->
<script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
<!-- <script src="/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script> -->
<script src="/js/popper.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Paper Kit Initialization snd functons -->
<!-- <script src="/js/paper-kit.js?v=2.1.0"></script> -->

</html>
