###################################################################
# Auto-created by the cicd-actions tool
on: workflow_dispatch
name: Deploy to us-west-2/stage and Test
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Upgrade aws-cli
        run: >
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o
          "awscliv2.zip"

          unzip awscliv2.zip >/dev/null

          sudo ./aws/install

          /usr/local/bin/aws --version

          aws --version
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 10.15.3
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache yarn modules
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Checkout
        uses: actions/checkout@v2
      - name: Version
        id: package-versions
        run: ./tool/cicd/actions/scripts/export_versions.sh
      - name: Discovered versions
        run: >
          echo "Versions: function_api/${{env.VERSION_FUNCTION_API}}
          fuse-cli/${{env.VERSION_FUSEBIT_CLI}}
          fuse-ops/${{env.VERSION_FUSEBIT_OPS_CLI}}"
      - name: Setup Environments and Profiles
        env:
          SECRET_FUSEBIT_PROFILE: ${{secrets.FUSEBIT_STAGE_US_WEST_2}}
          SECRET_NPM_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
          SECRET_GC_BQ_KEY_BASE64: ${{secrets.FUSEBIT_GC_BQ_KEY_BASE64}}
        run: ./tool/cicd/actions/scripts/create_env_files.sh
      - name: Qualify - aws-cli works
        run: aws s3 ls
      - name: Qualify - npm works
        run: npm whoami
      - name: Pre-Build Summary
        run: |
          echo function-api: ${VERSION_FUNCTION_API}
          echo fusebit-cli: ${VERSION_FUSEBIT_CLI}
          echo fusebit-ops-cli: ${VERSION_FUSEBIT_OPS_CLI}
      - name: Build
        run: ./tool/cicd/actions/scripts/build_tree.sh
      - name: Qualify - fuse-ops works
        run: node cli/fusebit-ops-cli/libc/index.js stack ls
      - name: Qualify - fuse works
        run: node cli/fusebit-cli/libc/index.js function ls
      - name: Yarn - image
        run: yarn image
      - name: Publish - function-api
        run: ./tool/cicd/actions/scripts/publish_function_api.sh
      - name: Test - deploy exclusive to stage/us-west-2
        env:
          REGION: us-west-2
          DEPLOYMENT_NAME: stage
        run: ./tool/cicd/actions/scripts/deploy_exclusive_function_api.sh
      - name: Test - function-api
        env:
          SECRET_FUSEBIT_PROFILE: ${{secrets.FUSEBIT_STAGE_US_WEST_2}}
        run: ./tool/cicd/actions/scripts/test_function_api.sh
